.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    font-family: var(--font-family-h);
    font-size: var(--font-size-footer);
}

.footer h3{
    flex-direction: column;
    text-align: center;
    color: var(--color-regular-text);
    font-size: var(--font-size-h3);
    letter-spacing: 0.04em;
}

.footer img {
    width: 24px;
    height: 24px;
    margin-top: 10px; 
}

.footer_content {
    display: flex;
    justify-content: center;
    font-size:var(--font-size-p);
}

.footer_section { 
    margin: 20px;
    font-family: var(--font-family-text);
    color: var(--color-regular-text);
}

.footer_section h4 {
    margin-bottom: 10px;
    font-size: var(---font-size-h4);
    color: var(--color-regular-text);
}

.footer_section a {
    color: var(--color-regular-text);
    text-decoration: none;
}

.footer_section a:hover {
    color: var(--color-a);
    text-decoration: underline;
}
